{% extends "index.html" %}
{% block outfit %} 

<div class="container mt-5">
          
    <div class="row">
    {% for outfit in outfits %}
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename=outfit)}}" class="img-thumbnail" alt="Uploaded Image">
        </div>
    {% endfor %}
  </div>
</div>
<div class="container">
    <h2>Instructions on how to wear this fashionable attire</h2>
    <pre>{{instructions}}</pre>
</div>
<div class="container">
    <form action="/reset" method="post">
        <div class="mt-6 col-md-12">
            <button type="submit" class="btn btn-primary">Reset Wardrobe</button>
        </div>
    </form>
</div>


{% endblock %}
