{% extends "index.html" %}
{% block outfit %} 

<div class="container mt-5">
          
    <div class="row">
    {% for outfit in outfits %}
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename=outfit)}}" class="img-thumbnail" alt="Uploaded Image">
        </div>
    {% endfor %}
  </div>
</div>
<div>
    <pre>{{instructions}}</pre>
</div>
<form action="/reset" method="post">
<button type="submit" class="btn btn-primary">Reset Wardrobe</button>
</form>

{% endblock %}
